.EditForm {
  width: 95%;
  max-width: 700px;
  min-width: 320px;
  margin: 20px auto;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px rgba(50,50,50,0.3);
}

.EditForm .PageTitle {
  margin-bottom: 20px;
  padding: 0 0 20px 30px;
  font-size: 28px;
  font-weight: bold;
  border-bottom: 1px solid #333;
}