.ContactItem {
  width: 80%;
  margin: 0 0 20px 3%;
  padding: 10px 20px;
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: 0 2px 2px 2px rgba(50,50,50,0.25);
  display: flex;
  align-items: center;
}

.ContactItem .Avatar-wrap {
  width: 60px;
  height: 60px;
  margin-right: 30px;
  border-radius: 4px;
  box-shadow: 0 0 3px 3px rgba(50,50,50,0.15);
  overflow: hidden;
}

.ContactItem .Avatar-wrap img {
  width: 100%;
  height: 100%;
}

.ContactItem .ContactName {
  font-size: 18px;
  font-weight: bold;
}