.ViewContactForm {
  padding: 10px;
}

.ViewContactForm .HeadRow {
  text-align: right;
}

.ViewContactForm .Close {
  text-align: right;
  font-weight: bold;
  cursor: pointer;
}

.ViewContactForm .ContactInfo {
  margin: 20px 10px;
  overflow: hidden;
}

.ViewContactForm .Avatar-wrap {
  float: left;
  width: 80px;
  height: 80px;
  margin: 10px 30px 10px 20px;
  border-radius: 4px;
  box-shadow: 0 0 3px 3px rgba(50,50,50,0.15);
  overflow: hidden;
}

.ViewContactForm .Avatar-wrap img {
  width: 100%;
  height: 100%;
}

.ViewContactForm .ContactInfoRow {
  float: left;
}

.ViewContactForm .ContactInfoItem {
  display: block;
  margin: 5px 0;
}

.ViewContactForm .ContactInfoItem.Name{
  font-size: 24px;
  font-weight: bold;
}

.ViewContactForm .Buttons {
  margin: 10px auto;
  text-align: center;
}