.Button {
  margin: 10px;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 4px;
  outline: none;
}

.Button.Submit {
  color: green;
}

.Button.Danger {
  color: red;
}

.Button.WithoutBorder {
  padding: 0;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}