.ContactForm {
  margin: 20px 30px;
}

.ContactForm .FormRow {
  margin: 10px 0;
}

.ContactForm .FormRow-buttons {
  padding-top: 20px;
  text-align: center;
}

.ContactForm .LabelName {
  width: 60px;
  display: inline-block;
  margin-right: 10px;
}

.ContactForm .FormRow input {
  width: calc(100% - 90px);
  padding: 3px;
  border: 1px solid #777;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px rgba(50,50,50,0.2);
}

.ContactForm .FormRow input:focus {
  box-shadow: 0 0 2px 2px rgba(50,50,50,0.5);
}

.ContactForm .FormRow-preview {
  display: flex;
  padding-top: 10px;
}

.ContactForm .Photo-wrap {
  width: 80px;
  height: 80px;
  margin-left: 30px;
  border-radius: 4px;
  box-shadow: 0 0 3px 3px rgba(50,50,50,0.15);
  overflow: hidden;
}

.ContactForm .Photo-wrap img {
  width: 100%;
  height: 100%;
}