.ContactList {
  width: 95%;
  max-width: 700px;
  min-width: 320px;
  margin: 20px auto;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 0 0 15px 5px rgba(50,50,50,0.3);
}

.ContactList .Header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
}

.ContactList .PageTitle {
  font-size: 28px;
  font-weight: bold;
}